<template>
<div class="container">
  <v-card>
    <v-toolbar
      flat
      color="primary"
      dark
    >
    <v-col md=10>
      <v-toolbar-title>Admin</v-toolbar-title>
    </v-col>
    <v-col md=2>
      <v-btn @click="actionLogout()">
      Logout
       <v-icon right>
          fas fa-sign-out-alt
        </v-icon>
      </v-btn>
    </v-col>
    </v-toolbar>
    <v-tabs>
      <v-tab>
        <v-icon left>
          mdi-account
        </v-icon>
        Profile
      </v-tab>
      <v-tab @click="getData('pos')">
        <v-icon left>
          fas fa-users
        </v-icon>
        POS
      </v-tab>
      <v-tab @click="getData('products')">
        <v-icon left>
          fas fa-tag
        </v-icon>
        Product
      </v-tab>
      <v-tab @click="getData('transaction')">
        <v-icon left>
          fas fa-shopping-cart
        </v-icon>
        Transaction
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <label>First Name</label>
            <v-text-field
                v-model="profile.firstName"
                outlined
                disabled
            ></v-text-field>
            <label>Last Name</label>
            <v-text-field
                 v-model="profile.lastName"
                outlined
                disabled
            ></v-text-field>
            <label>Shop Name</label>
            <v-text-field
                v-model="profile.shopName"
                outlined
                disabled
            ></v-text-field>
             <label>Address</label>
            <v-text-field
                v-model="profile.address"
                outlined
                disabled
            ></v-text-field>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat class="mr-4 ml-4">
         
            <v-btn
              color="primary"
              dark
              class="mt-3"
              @click="modalOpen('pos', 'add')"
            >
              New POS
            </v-btn>
           
            <v-text-field
                v-model="search.pos"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
            ></v-text-field>

            <v-data-table
                :headers="headers.pos"
                :items="data.pos"
                class="elevation-1"
                :search="search.pos"
            >
             <template v-slot:[`item.actions`]="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="modalOpen('pos', 'edit', item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem('pos', item)"
                >
                  mdi-delete
                </v-icon>
            </template> 

            </v-data-table>

        </v-card>
      </v-tab-item>
      <v-tab-item>
         <v-card flat class="mr-4 ml-4">
         
            <v-btn
              color="primary"
              dark
              class="mt-3" @click="modalOpen('product', 'add')"
            >
              New Product
            </v-btn>
           
            <v-text-field
                v-model="search.products"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
            ></v-text-field>

            <v-data-table
                :headers="headers.products"
                :items="data.products"
                class="elevation-1"
                :search="search.products"
            >
            <template v-slot:[`item.display_photo`]="{ item }">
                <img :src="apiURL + '/' + item.display_photo " style="width: 50px;">
           </template>
      
             <template v-slot:[`item.actions`]="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="modalOpen('product', 'edit', item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem('product', item)"
                >
                  mdi-delete
                </v-icon>
            </template> 

            </v-data-table>

        </v-card>
      </v-tab-item>
      <v-tab-item>
          <v-card flat class="mr-4 ml-4">
           
            <v-text-field
                v-model="search.transaction"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
            ></v-text-field>

            <v-data-table
                :headers="headers.transaction"
                :items="data.transaction"
                class="elevation-1"
                :search="search.transaction"
            >
           
             <template v-slot:[`item.actions`]="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="modalOpen('transaction', 'open', item)"
                >
                  fas fa-eye
                </v-icon>
            </template> 

            </v-data-table>

        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>

   <div class="modal fade" id="modal-transaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-md-4">Nama</div>
                  <div class="col-md-2">Qty</div>
                  <div class="col-md-3">H.Satuan</div>
                  <div class="col-md-3">Total</div>
               </div>
               <div class="row" v-for="item in input.transaction.items" :key="item.id">
                  <div class="col-md-4">{{ item.name }}</div>
                  <div class="col-md-2">{{ item.quantity }}</div>
                  <div class="col-md-3">{{ item.price }}</div>
                  <div class="col-md-3">{{ item.price * item.quantity }}</div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-pos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title.pos }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="input.pos.name">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" v-model="input.pos.username">
                </div>
                <div class="form-group" v-if="input.pos.type == 'add'">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="input.pos.password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="actionSave('pos', input.pos.type)">Save changes</button>
            </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title.product }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="input.product.name">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" v-model="input.product.price">
                </div>
                <div class="form-group">
                   <label>Photo</label>
                   <input type="file" class="form-control-file" id="files" ref="files" @change="handleFileUpload()">
                </div>
                <div class="form-group" v-if="input.product.type == 'edit'">
                  <img :src="apiURL + '/' + input.product.display_photo" style="width: 150px;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="actionSave('product', input.product.type)">Save changes</button>
            </div>
            </div>
        </div>
    </div>

  </div>
</template>

<script>
import Swal from 'sweetalert2'

export default {
    middleware: 'admin',
    data(){
        return {
            profile: {
                firstName: null,
                lastName: null,
                shopName: null,
                address: null
            },
            data: {
                pos: [],
                products: [],
                transaction: []
            },
            dialog: {
                pos: false
            },
            search: {
                pos: null,
                products: null,
                transaction: null
            },
            title: {
                pos: null
            },
            input: {
                pos: {
                    name: null,
                    username: null,
                    password: null,
                    type: null
                },
                product: {
                  name: null,
                  photo: null,
                  display_photo: null,
                  price: null,
                  type: null
                },
                transaction: {}
            },
            headers: {
                pos: [
                        {
                            text: 'Name',
                            align: 'start',
                            filterable: true,
                            value: 'name',
                        },
                        { text: 'Username', value: 'username', filterable: true },
                        { text: 'Created At', value: 'created_at' },
                        { text: 'Actions', value: 'actions', sortable: false }
                    ],
                products: [
                        {
                            text: 'Name',
                            align: 'start',
                            filterable: true,
                            value: 'name',
                        },
                        { text: 'Price', value: 'price'},
                        { text: 'Created At', value: 'created_at' },
                        { text: 'Photo', value: 'display_photo'},
                         { text: 'Actions', value: 'actions', sortable: false }
                    ],
                    transaction: [
                      {
                        text: 'Date',
                        align: 'start',
                        filterable: true,
                        value: 'created_at'
                      },
                      {
                        text: 'Cashier',
                        filterable: true,
                        value: 'pos.name'
                      },
                      {
                        text: 'Nominal',
                        value: 'nominal'
                      },
                       { text: 'Actions', value: 'actions', sortable: false }
                    ]
                }
            }
    },
    computed: {
      apiURL: function () {
        return process.env.API_URL
      }
    },
    methods: {
        async getData(type){
            if (type == 'pos') {
                 const res = await this.$axios.$get('/api/pos', {
                    headers: {
                        'Authorization': 'Bearer ' + this.$store.state.admin.token
                    }
                });
                this.data.pos = res.data;
            }else if(type == 'products'){
                const res = await this.$axios.$get('/api/product', {
                    headers: {
                        'Authorization': 'Bearer ' + this.$store.state.admin.token
                    }
                });
                this.data.products = res.data.map(value => {
                  return {
                    display_photo: value.photo,
                    ...value
                  }
                });
            }else if (type == 'transaction') {
                const res = await this.$axios.$get('/api/transaction', {
                    headers: {
                        'Authorization': 'Bearer ' + this.$store.state.admin.token
                    }
                });
                this.data.transaction = res.data.map(value => {
                  return {
                    items: JSON.parse(value.item),
                    ...value
                  }
                });
            }
        },
         modalOpen(type, props, item = null){
            if (type == 'pos') {
                if (props == 'add') {
                    this.title.pos = 'New POS'
                    this.input.pos = { type: 'add'};
                }else{
                     this.title.pos = 'Edit POS'
                     this.input.pos = { type: 'edit', ...item};
                }
                $('#modal-pos').modal('show');
            }else if (type == 'product') {
              if (props == 'add') {
                  this.title.product = 'New Product'
                  this.input.product = { type: 'add'}
              }else{
                  item.display_photo = item.photo;
                  item.photo = null;
                  this.title.product = 'Edit Product'
                  this.input.product = { type: 'edit', ...item};
              }
              $('#modal-product').modal('show');
            }else if (type == 'transaction') {
              if (props == 'open') {
                this.input.transaction = item;
                $('#modal-transaction').modal('show');
              }
            }
         },
         async actionSave(type, props){
             if (type == 'pos') {
                 if (props == 'add') {
                    const res = await this.$axios.$post('/api/pos', this.input.pos, {
                        headers: {
                            'Authorization': 'Bearer ' + this.$store.state.admin.token
                        }
                    });
                    if (res.message == 'success') {
                        Swal.fire(
                            'Success!',
                            'Data Updated',
                            'success'
                        )
                        this.data.pos.push(res.data);
                        $('#modal-pos').modal('hide');
                    }
                 }else if(props == 'edit'){
                     delete this.input.pos.password;
                     
                     const res = await this.$axios.$post('/api/pos/' + this.input.pos.id, this.input.pos, {
                        headers: {
                            'Authorization': 'Bearer ' + this.$store.state.admin.token
                        }
                    });

                    this.data.pos = this.data.pos.map(value => {
                      if (value.id == res.data.id)
                          return res.data
                      else
                          return value
                    })


                    if (res.message == 'success') {
                        Swal.fire(
                            'Success!',
                            'Data Updated',
                            'success'
                        )
                        $('#modal-pos').modal('hide');
                    }
                 }
             }else if (type == 'product') {
               if (props == 'add') {
                 let formData = new FormData();
                 formData.append('name', this.input.product.name);
                 formData.append('price', this.input.product.price);
                 formData.append('photo', this.input.product.photo);

                  const res = await this.$axios.$post('/api/product', formData, {
                        headers: {
                            'Authorization': 'Bearer ' + this.$store.state.admin.token
                        }
                   });
                   this.data.products.push(res.data);
                   if (res.message == 'success') {
                        Swal.fire(
                            'Success!',
                            'Data Updated',
                            'success'
                        )
                        $('#modal-product').modal('hide');
                    }
               }else if (props == 'edit') {
                 let formData = new FormData();
                 formData.append('name', this.input.product.name);
                 formData.append('price', this.input.product.price);
                 formData.append('photo', this.input.product.photo);

                  const res = await this.$axios.$post('/api/product/' + this.input.product.id, formData, {
                        headers: {
                            'Authorization': 'Bearer ' + this.$store.state.admin.token
                        }
                   });
                 
                 this.data.products = this.data.products.map(value => {
                   if (value.id == res.data.id)
                      return res.data
                   else
                      return value
                 })

                   if (res.message == 'success') {
                        Swal.fire(
                            'Success!',
                            'Data Updated',
                            'success'
                        )
                        $('#modal-product').modal('hide');
                    }
               }
             }
         },
         deleteItem(type, item){
               Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let url;
                        if (type == 'pos')
                            url = '/api/pos/' + item.id
                        else
                            url = '/api/product/' + item.id 
                        
                        this.$axios.$delete(url, {
                            headers: {
                                'Authorization': 'Bearer ' + this.$store.state.admin.token
                            }
                        }).then(res => {
                            if (res.message == 'success') {
                                 if (type == 'pos')
                                     this.data.pos = this.data.pos.filter(value => value.id !== item.id);
                                 else
                                     this.data.products = this.data.products.filter(value => value.id !== item.id);  
                                 
                                 Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                            }
                        });   
                    }
                })
         },
         handleFileUpload(){
            this.input.product.photo = this.$refs.files.files[0];
         },
         actionLogout(){
           this.$store.commit('admin/logOut');
           this.$router.push('/admin/login');
         }
    },
    async created(){
         const res = await this.$axios.$get('/api/profile', {
            headers: {
                'Authorization': 'Bearer ' + this.$store.state.admin.token
            }
         });
         this.profile = res.data;
    }
}
</script>