<template>

<div>
<section class="header-main">
    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3">
              <div class="brand-wrap">
               
                <h2 class="logo-text">{{ profile.user.shopName }}</h2>
              </div>
              <!-- brand-wrap.// -->
          </div>
          <div class="col-lg-6 col-sm-6">
              <div class="search-wrap">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="searchString" placeholder="Search">
                    <div class="input-group-append">
                      <button class="btn btn-primary">
                      <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
              </div>
              <!-- search-wrap .end// -->
          </div>
          <!-- col.// -->
          <div class="col-lg-3 col-sm-6">
              <div class="widgets-wrap d-flex justify-content-end">
                <div class="widget-header">
                    <a href="#" class="icontext">
                    <a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
                    <i class="fa fa-home"></i>
                    </a>
                    </a>
                </div>
                <!-- widget .// -->
                <div class="widget-header dropdown">
                    <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
                      <i class="fas fa-user" style="font-size: 30px"></i>
                      <p class="ml-3">{{ profile.name }}</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" @click="logOut()"><i class="fa fa-sign-out-alt"></i> Logout</a>
                    </div>
                    <!--  dropdown-menu .// -->
                </div>
                <!-- widget  dropdown.// -->
              </div>
              <!-- widgets-wrap.// -->	
          </div>
          <!-- col.// -->
        </div>
        <!-- row.// -->
    </div>
<!-- container.// -->
</section>
         <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y-sm bg-default ">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 card padding-y-sm card ">
            <span id="items" style="max-height:600px; min-height: 600px; overflow: scroll; overflow-x: hidden;" >
              <div class="row">
                  <div class="col-md-3" v-for="product in s_products" :key="product.id">
                    <figure class="card card-product">
                        <div class="img-wrap"> 
                          <img :src="url + '/' + product.photo">
                          <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                        </div>
                        <figcaption class="info-wrap">
                          <a href="#" class="title">{{ product.name }}</a>
                          <div class="action-wrap">
                              <a href="#" @click="addToCart(product)" class="btn btn-primary btn-sm float-right"> <i class="fa fa-cart-plus"></i> Add </a>
                              <div class="price-wrap h5">
                                <span class="price-new">{{ numberFormat(product.price) }}</span>
                              </div>
                              <!-- price-wrap.// -->
                          </div>
                          <!-- action-wrap -->
                        </figcaption>
                    </figure>
                    <!-- card // -->
                  </div>
                  <!-- col // -->
              </div> 
              <!-- row.// -->
            </span>
            <!-- END ITEMS -->
        </div>
        <div class="col-md-4">
            <div class="card">
              <span id="cart">
                  <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                          <th scope="col">Item</th>
                          <th scope="col" width="120">Qty</th>
                          <th scope="col" width="120">Price</th>
                          <th scope="col" class="text-right" width="200">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(product, index) in selectedProducts" :key="product.id">
                          <td>
                              <figure class="media">
                                <div class="img-wrap"><img :src="url + '/' + product.photo" class="img-thumbnail img-xs"></div>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{ product.name }}</h6>
                                </figcaption>
                              </figure>
                          </td>
                          <td class="text-center">
                              <div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group" aria-label="...">
                                <button @click="subtractQty(index)" type="button" class="m-btn btn btn-default"><i class="fa fa-minus"></i></button>
                                <button type="button" class="m-btn btn btn-default" disabled>{{ product.quantity }}</button>
                                <button @click="addQty(index)" type="button" class="m-btn btn btn-default"><i class="fa fa-plus"></i></button>
                              </div>
                          </td>
                          <td>
                              <div class="price-wrap"> 
                                <var class="price">{{ numberFormat(product.price * product.quantity) }}</var> 
                              </div>
                              <!-- price-wrap .// -->
                          </td>
                          <td class="text-right"> 
                              <a href="#" @click="deleteSelectedItem(index)" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></a>
                          </td>
                        </tr>
                    </tbody>
                  </table>
              </span>
            </div>
            <!-- card.// -->
            <div class="box">
              <dl class="dlist-align">
                  <dt>Total: </dt>
                  <dd class="text-right h4 b"> {{ numberFormat(totalCharge) }} </dd>
              </dl>
              <div v-if="totalCharge > 0" class="form-check mb-3">
                <input type="checkbox" v-model="isPrinted" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Cetak Struk</label>
                <input v-currency="{ 
                  locale: 'en',
                  valueAsInteger: false,
                  distractionFree: false, 
                  precision: 0, 
                  currency: null,
                  allowNegative: false
                }" v-if="isPrinted" v-model="cash" class="form-control mt-2" placeholder="Jumlah uang dibayar" />
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <a href="#" @click="actionCancel()" class="btn  btn-default btn-error btn-lg btn-block"><i class="fa fa-times-circle "></i> Cancel </a>
                  </div>
                  <div class="col-md-6">
                    <a href="#" class="btn  btn-primary btn-lg btn-block" @click="actionCharge()"><i class="fa fa-shopping-bag"></i> Charge </a>
                  </div>
              </div>
            </div>
            <!-- box.// -->
        </div>
      </div>
  </div>
  <!-- container //  -->
</section>
</div>
</template>

<script>
import Swal from 'sweetalert2'
import Fuse from 'fuse.js'


export default {
   middleware: 'auth',
   data(){
     return{
          products: [],
          selectedProducts: [],
          isPrinted: false,
          cash: null,
          searchString: null,
        }
    },
    computed: {
          totalCharge : function() {
            let temp = 0;
            this.selectedProducts.forEach(value => {
                temp += value.price * value.quantity;
            });
            return temp;
          },
          profile: function() {
            return this.$store.state.user;
          },
          url: function() {
            return process.env.API_URL
          },
          s_products: function(){
            if (this.searchString) {
                const options = {
                  keys: ['name']
                }
                const fuse = new Fuse(this.products, options)
                const result = fuse.search(this.searchString).map(value => {
                  return value.item
                })
                return result;
            }else{
              return this.products;
            }
          }
    },
    async created(){
        const res = await this.$axios.$get('/api/product', {
          headers: {
            'Authorization': 'Bearer ' + this.$store.state.token
          }
        });
        this.products = res.data;

    },
    methods: {
        addToCart: function(array) {
          let indexExist;
          let check = this.selectedProducts.find((value, index) => {
              indexExist = index
              return value.id == array.id
          })

          if (!check) {
              this.selectedProducts.push({
                quantity: 1,
                ...array
              })
          }else{
              this.selectedProducts[indexExist].quantity++ 
          }
        },
        actionCancel: function() {
          this.selectedProducts = [],
          this.isPrinted = false,
          this.cash = null
        },
        addQty: function(index) {
          this.selectedProducts[index].quantity++
        },
        subtractQty: function(index) {
          if (this.selectedProducts[index].quantity > 0) {
            this.selectedProducts[index].quantity-- 
          }
        },
        deleteSelectedItem: function(index) {
          this.selectedProducts = this.selectedProducts.filter((value, idx) => idx != index)
        },
        logOut: function() {
          this.$store.commit('logOut');
          this.$router.push('/login');
        },
        numberFormat: function(number) {
          return new Intl.NumberFormat().format(number)
        },
        actionCharge: async function() {
            let selectedProducts = this.selectedProducts.map(value => {
              return {
                id: value.id,
                price: value.price,
                name: value.name,
                quantity: value.quantity
              }
            });

          const res = await this.$axios.$post('/api/transaction', {
            item: JSON.stringify(selectedProducts)
          },{
            headers: {
              'Authorization': 'Bearer ' + this.$store.state.token
            }
          });

          if (res.message == 'success') {
             if (this.isPrinted) {
              let cash =  Number(this.cash.replace(/[^0-9.-]+/g,""))
              this.$store.commit('createTrx', { data: res.data, cash })
              this.$router.push('/invoice');
            }else{
              Swal.fire(
                'Success!',
                'Transaksi berhasil disimpan',
                'success'
              )
            }
          }
         
        }
  }
}
</script>