<template>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                               <h4>{{ profile.user.shopName }}</h4>
                            </td>
                            
                            <td></td>
                            <td></td>

                            <td>
                                Invoice #: {{ transaction.id }}<br>
                                {{ transaction.created_at }}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                {{ profile.user.shopName }}<br>
                                {{ profile.user.address }}<br>
                            </td>

                            <td></td>
                            <td></td>
                            
                            <td>
                                Cassier : {{ profile.name }}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
              
            <tr class="heading">
                <td>
                    Item
                </td>
                <td>
                    Qty
                </td>
                <td>
                   H.Satuan
                </td>
                <td>
                    H.Total
                </td>
            </tr>
            
            <tr class="item" v-for="item in transaction.item" :key="item.id">
                <td>
                    {{ item.name }}
                </td>
                
                <td>
                    {{ item.quantity }}
                </td>

                <td>
                    {{ numberFormat(item.price) }}
                </td>
                <td>
                    {{ numberFormat(item.price * item.quantity) }}
                </td>
            </tr>
            
            <tr class="total">
                <td>Total</td>
                <td></td>
                <td></td>
                <td>
                   {{ numberFormat(transaction.nominal) }}
                </td>
            </tr>
              <tr class="heading">
                <td>
                    Pembayaran
                </td>

                <td></td>
                <td></td>
                
                <td>
                    
                </td>
            </tr>
            
            <tr class="details">
                <td>
                    Cash
                </td>
                <td></td>
                <td></td>
                <td>
                    {{ numberFormat(transaction.cash) }}
                </td>
            </tr>
            <tr class="details">
                <td>
                    Kembali
                </td>
                <td></td>
                <td></td>
                <td>
                    {{ numberFormat(transaction.cash - transaction.nominal) }}
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    middleware: 'auth',
    computed: {
        transaction: function() {
            let trx = {...this.$store.state.transaction};
            trx.item = JSON.parse(trx.item);
            return trx;
        },
        profile: function() {
            return this.$store.state.user;
        },
    },
    methods: {
         numberFormat: function(number) {
          return new Intl.NumberFormat().format(number)
        },
    }
}
</script>

<style lang="css" scoped>

    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>